<footer class="footer">
    <div class="container ">
        <div class="row ">
            <div class="col-3 s-col-12 xs-col-12 d_f ai_c">
                <a href="/" class="logo">
                    <svg width="166" height="49" viewBox="0 0 166 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <polygon fill="#FFFFFF" stroke="#A80010" stroke-width="3"
                                 points=" 0,0 54,0 64.5,15.5 64.5,49 45.5,49 45.5,15.292 18.6603,15.292 18.6603,48.75 0,48.75 0,0"></polygon>
                        <polygon fill="#FFFFFF" stroke="#A80010" stroke-width="3"
                                 points=" 64,0 126.5,0 116.304,15 105,15 105,49 86,49 86,15 64,15 64,0"></polygon>
                        <polygon fill="#FFFFFF" stroke="#A80010" stroke-width="3"
                                 points=" 145,0 164.92,0 149,23 166,49 144,49 128,24.5 145,0"></polygon>
                    </svg>
                    <span class="logo-slogan">
                        Оператор <span>подвижного</span> <span>состава</span>
                    </span>
                </a>
            </div>
            <div class="col-4 s-col-6 xs-col-6">
                <div class="foot_address">
                    105064, г. Москва, Басманный тупик, <span>д. 6А, стр.1 офис 213</span>
                </div>
            </div>
            <div class="col-2 s-col-6 xs-col-6">
                <div class="foot_tel">
                    <a href="tel:84957807148">+7 (495) 780-71-48</a>
                    <a href="mailto:info@ptkvagon.ru" class="email_a">info@ptkvagon.ru</a>
                </div>
            </div>

            <div class="col-3 s-col-12 xs-col-12 d_f jc_sb">
                <a href="#writeus" data-fancybox class="btn">Напишите нам</a>
                <a href="https://wa.me/74957807148?text=Здравствуйте.%20Пишу%20с%20сайта%20ptkvagon.ru" target="_blank" class="d_f ai_c"><span class="ico ico-left ico-wt"></span></a>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="libs/gsap.min.js"></script>
<script src="libs/SplitText.min.js"></script>
<script src="libs/DrawSVGPlugin.min.js"></script>
<script src="js/main.min.js"></script>

</body>
</html>