<footer class="footer">
    <div class="container h_100">
        <div class="row h_100">
            <div class="col-3 d_f ai_c">
                <div class="footlogo"></div>
            </div>
            <div class="col-3">
                <div class="head">Контакты</div>
                <a href="tel:">+ 7 (495) 780-71-48</a>
            </div>
            <div class="col-3">
                <div class="head">Адрес</div>
                105064, г. Москва
                <span>Басманный тупик</span>
                <span>д. 6А, стр.1 офис 213</span>
            </div>

            <div class="col-3 d_f f_c jc_end ta-r">
                <a href="http://masshtab.kz" target="_blank" class="developer">Разработка сайта «РА Масштаб»</a>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="libs/gsap.min.js" ></script>
<script src="libs/SplitText.min.js" ></script>
<script src="libs/DrawSVGPlugin.min.js" ></script>
<script src="js/main.min.js" ></script>

</body>
</html>