<header class="header  d_f ai_c">
    <div class="container">
        <div class="row">
            <div class="col-4 m-col-4 s-col-10 xs-col-10">
                <a href="/" class="logo">
                    <svg width="166" height="49" viewBox="0 0 166 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <polygon fill="#FFFFFF" stroke="#A80010" stroke-width="3" points=" 0,0 54,0 64.5,15.5 64.5,49 45.5,49 45.5,15.292 18.6603,15.292 18.6603,48.75 0,48.75 0,0"></polygon>
                        <polygon fill="#FFFFFF" stroke="#A80010" stroke-width="3" points=" 64,0 126.5,0 116.304,15 105,15 105,49 86,49 86,15 64,15 64,0"></polygon>
                        <polygon fill="#FFFFFF" stroke="#A80010" stroke-width="3"  points=" 145,0 164.92,0 149,23 166,49 144,49 128,24.5 145,0"></polygon>
                    </svg>
                    <span class="logo-slogan">
                        Оператор <span>подвижного</span> <span>состава</span>
                    </span>
                </a>
            </div>
            <div class="col-3 m-col-1 desktop"></div>
            <div class="col-2 m-col-3 s-col-1 xs-col-1 d_f ai_e jc_c | tt_tel">
                <a href="tel:84957807148" class="d_f ai_c desktop | tel_a">+7 (495) 780-71-48</a>
                <a href="mailto:info@ptkvagon.ru" class="d_f ai_c desktop | email_a">info@ptkvagon.ru</a>
            </div>
            <div class="col-2 m-col-3 d_f ai_c | tt_form"><a href="javascript:;" class="btn">Заказать звонок</a></div>
            <div class="col-1 m-col-1 s-col-1 xs-col-1 d_f ai_c jc_end desktop | tt_wt"><a href="#" class="d_f ai_c"><span class="ico ico-left ico-wt"></span></a></div>
            <div class="col-1 m-col-1 s-col-1 xs-col-1 d_f ai_c jc_end mobile | tt_call"><a href="#" class="d_f ai_c"><span class="ico ico-left ico-tel"></span></a></div>
        </div>
    </div>
</header>