<header class="header  d_f ai_c">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="/" class="logo"></a>
            </div>
            <div class="col-7 col-to-end">
                <a href="mailto:"><span class="ico ico-left ico-email"></span>info@ptkvagon.ru</a>
                <a href="tel:"><span class="ico ico-left ico-tel"></span>+7 (495) 780-71-48</a>
                <a href="javascript:;" class="btn">Заказать звонок</a>
            </div>
        </div>
    </div>
</header>