<header class="header  d_f ai_c">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="/" class="logo">
                    <svg width="166" height="49" viewBox="0 0 166 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <polygon fill="#FFFFFF" stroke="#A80010" stroke-width="3" points=" 0,0 54,0 64.5,15.5 64.5,49 45.5,49 45.5,15.292 18.6603,15.292 18.6603,48.75 0,48.75 0,0"></polygon>
                        <polygon fill="#FFFFFF" stroke="#A80010" stroke-width="3" points=" 64,0 126.5,0 116.304,15 105,15 105,49 86,49 86,15 64,15 64,0"></polygon>
                        <polygon fill="#FFFFFF" stroke="#A80010" stroke-width="3"  points=" 145,0 164.92,0 149,23 166,49 144,49 128,24.5 145,0"></polygon>
                    </svg>
                </a>
            </div>
            <div class="col-7 col-to-end d_f jc_end ai_c">
                <a href="mailto:"><span class="ico ico-left ico-email"></span>info@ptkvagon.ru</a>
                <a href="tel:"><span class="ico ico-left ico-tel"></span>+7 (495) 780-71-48</a>
                <a href="javascript:;" class="btn">Заказать звонок</a>
            </div>
        </div>
    </div>
</header>