.ico{
  display: inline-block;
}
.ico-left{
  margin-right: 8px;
}

.ico-wt{
  background: url('../img/ico-wt.svg') 0 0 no-repeat;
  width: 40px;
  height: 40px;
  background-size: contain;
}
.ico-email{
  background: url('../img/mail.svg') 0 0 no-repeat;
  width: 32px;
  height: 32px;
}
.ico-tel{
  background: url('../img/ico-tel.svg') 0 0 no-repeat;
  width: 31px;
  height: 32px;
}

.ico-arr{
  width: 38px;
  height: 52px;
  background: url('../img/arr-red.svg') 0 0 no-repeat;
}