.ico{
  display: inline-block;
}
.ico-left{
  margin-right: 8px;
}

.ico-wt{
  background: url('../img/ico-wt.svg') 0 0 no-repeat;
  width: 50px;
  height: 50px;
}
.ico-email{
  background: url('../img/ico-mail.svg') 0 0 no-repeat;
  width: 32px;
  height: 26px;
}
.ico-tel{
  background: url('../img/ico-tel.svg') 0 0 no-repeat;
  width: 31px;
  height: 32px;
}