.slider {
  background: url('../img/img.png') center center no-repeat;
  background-size: cover;
  height: calc(100vh - 100px);
  min-height: 515px;
  max-height: 530px;
  color: #fff;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
  }

  h1 {
    font-size: 3.8vmax;
    line-height: 1.2;

  }

  .slogan {
    font-weight: 800;
    margin-bottom: 45px;
    font-size: 1.7vmax;
    line-height: 1.2;
  }

  p {
    font-size: 1.7vmax;
    line-height: 1.2;

    span {
      display: block;
    }
  }
}

.split {
  position: relative;
  overflow: hidden;
}

.img {
  img {
    max-width: 100%;
  }
}

.form{
  border: 9px solid #A80010;
  background: #F8F8F8;
  color: #000;
  padding: 30px;
  width: 100%;
  .head{
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 30px;
  }
  .form-control{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    background: #fff;
    border: none;
  }
}


h2.head{
  font-size: 46px;
  font-weight: 800;
  text-align: center;
  color: #000;
  margin-top: 60px;
  margin-bottom: 60px;
}

.service1{
  .img{
    margin-top: 20px;
  }
  .name{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
  }
  .ico-c1{
    &:before{
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 87px;
      height: 59px;
      background: url('../img/main-ico-1.svg') 0 0 no-repeat;
      background-size: contain;
    }
  }
  .ico-c2{
    &:before{
      display: block;
      content: '';
      position: absolute;
      left: -20px;
      top: -10px;
      width: 89px;
      height: 83px;
      background: url('../img/main-ico-2.svg') 0 0 no-repeat;
      background-size: contain;
    }
  }
  .ico-c3{
    &:before{
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: -10px;
      width: 78px;
      height: 78px;
      background: url('../img/main-ico-3.svg') 0 0 no-repeat;
      background-size: contain;
    }
  }
  .ico-c4{
    &:before{
      display: block;
      content: '';
      position: absolute;
      left: -40px;
      top: 0;
      width: 108px;
      height: 65px;
      background: url('../img/main-ico-4.svg') 0 0 no-repeat;
      background-size: contain;
    }
  }
  .icos{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 100px;
    padding-left: 110px;
    position: relative;
    span{
      display: block;
    }
  }
}

.vagon{
  position: relative;
  &:after{
    display: block;
    content: '';
    position: absolute;
    bottom: -230px;
    right: 0;
    width: 1034px;
    height: 623px;
    background: url('../img/main-bg-1.svg') 0 0 no-repeat;
    z-index: -1;
  }
}

.buy-sale{
  margin-top: 50px;
}

.red-bg{
  background: url('../img/red-bg.jpg') 0 0 repeat;
  height: 553px;
  padding-top: 100px;
  img{
    margin-bottom: 40px;
  }
  .text{
    font-size: 18px;
  }
}

.d1{
  background: url('../img/1.svg') 0 0 no-repeat;
  width: 295px;
  height: 345px;
  background-size: contain;
  padding: 45px 28px 0;
}
.d2{
  background: url('../img/2.svg') 0 0 no-repeat;
  width: 295px;
  height: 345px;
  background-size: contain;
  padding: 45px 28px 0;
}
.d3{
  background: url('../img/3.svg') 0 0 no-repeat;
  width: 295px;
  height: 345px;
  background-size: contain;
  padding: 45px 28px 0;
}
.d4{
  background: url('../img/4.svg') 0 0 no-repeat;
  width: 295px;
  height: 345px;
  background-size: contain;
  padding: 45px 28px 0;
}

.about{
  background: url('../img/about-bg.jpg') center top no-repeat;
  height: 530px;
  color: #fff;
  .check{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 55px;
    padding-left: 100px;
    position: relative;
    &:before{
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      left: 15px;
      top: 10px;
      background: url('../img/ico-check.svg') 0 0 no-repeat;
    }
  }
}

#map{
  position: relative;
  height: 565px;
  .pos_a{
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
  }
  .form{
    margin-top: 35px;
  }
  .container{
    pointer-events: none;
  }
  .form{
    pointer-events: all;
    .tel{
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 20px;
      display: inline-block;
      text-align: center;
    }
    .address{
      font-size: 18px;
      font-weight: 800;
      margin-bottom: 25px;
    }
    .text{
      font-weight: 800;
      color: #4D4D4D;
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
}

