@media (max-width: 768px){
  .mobile{
    display: inherit;
  }
  .desktop{
    display: none;
  }
  .container{
    padding: 0 20px;
  }

  .header{
    height: 70px;
  }
  .slider{
    height: calc(100vh - 70px);
    min-height: auto;
    max-height: none;
  }
  .logo{
    width: 116px;
    svg{
      max-width: 100%;
    }
  }
  .tt_wt,
  .tt_mail,
  .tt_tel{
    font-size: 0;
  }
  .tt_mail,
  .tt_form
  {
    display: none;
  }



  #slideform{
    display: none;
  }
  .slider h1{
    font-size: 6vmax;
  }
  .slider .btn{
    margin-top: 20px;
    width: 200px;
    padding-left: 0;
    padding-right: 0;
  }
  .slider .slogan{
    font-size: 2.7vmax;
  }
  .slider p{
    font-size: 2.7vmax;
  }

  .red-bg{
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .red-bg img{
    max-width: 100px;
    height: auto;
  }
  .red-bg .text{
    font-size: 16px;
  }

  .d1, .d2, .d3, .d4{
    max-width: 80%;
    margin: 0 auto;
    height: 314px;
  }
  h2.head{
    font-size: 24px;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .span-10-c{
    grid-column: -1 / 1;
  }
  .service1 .name{
    font-size: 20px;
  }
  .service1 .icos{
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .service1 .ico-c1:before{
    width: 67px;
    height: 45px;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
  }
  .service1 .ico-c2:before{
    width: 65px;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    top: -70px;
  }
  .service1 .ico-c3:before{
    width: 65px;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    top: -70px;
  }
  .service1 .ico-c4:before{
    width: 88px;
    height: 53px;
    left: 50%;
    transform: translateX(-50%);
    top: -70px;
  }
  .vagon:after{
    background-size: contain;
    width: 504px;
    height: 364px;
  }
  .buy-sale{
    margin-top: 30px;
  }

  .form .head{
    font-size: 24px;
  }

  .about{
    height: auto;
  }
  .about .check{
    font-size: 14px;
    padding-left: 50px;
    margin-bottom: 35px;
  }
  .about .check:before{
    background-size: contain;
    width: 25px;
    height: 25px;
    left: 10px;
  }

  .map {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  #map_container{
    position: relative;
    height: 350px;
  }
  .map .container{
    position: relative;
    margin-bottom: 40px;
  }
  .map .form{
    margin-top: 0;
  }
  .map .form .tel{
    font-size: 20px;
    .ico-tel{
      width: 21px;
      height: 22px;
      background-size: contain;
    }
  }
  .map .form .address{
    font-size: 16px;
  }
  .map .form .text{
    font-size: 15px;
  }
  .form .form-control{
    height: 45px;
    font-size: 15px;
    padding: 0 15px;
  }

  .footer{
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 14px;
    .ta-r{
      text-align: left;
    }
    .col-3{
      margin-bottom: 15px;
    }
  }
  footer .head{
    margin-bottom: 10px;
  }
  .developer{
    font-size: 13px;
  }
  .footlogo{
    width: 130px;
    background-size: contain;
  }

}

@media (min-width: 769px) and (max-width: 1279px){
  .mobile{
    display: inherit;
  }
  .desktop{
    display: none;
  }
  .logo{
    width: 116px;
    svg{
      max-width: 100%;
    }
  }
  .tt_wt,
  .tt_mail,
  .tt_tel{
    font-size: 0;
  }
  .tt_wt{
    margin-left: auto;
  }



  #slideform{
    display: none;
  }
  .slider h1{
    font-size: 6vmax;
  }
  .slider .btn{
    margin-top: 20px;
    width: 200px;
    padding-left: 0;
    padding-right: 0;
  }
  .slider .slogan{
    font-size: 2.7vmax;
  }
  .slider p{
    font-size: 2.7vmax;
  }
  .slider{
    min-height: 295px;
    max-height: 350px;
  }

  .red-bg{
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .red-bg img{
    max-width: 100px;
    height: auto;
  }

  .d1, .d2, .d3, .d4{
    max-width: 80%;
    margin: 0 auto;
    height: 314px;
  }
  h2.head{
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .span-10-c{
    grid-column: -1 / 1;
  }
  .service1 .name{
    font-size: 20px;
  }
  .service1 .icos{
    font-size: 16px;
    padding-left: 80px;
    padding-right: 25px;
  }
  .service1 .ico-c1:before{
    width: 67px;
    height: 45px;
  }
  .service1 .ico-c2:before{
    width: 65px;
    height: 60px;
    left: 0;
    top: 0;
  }
  .service1 .ico-c3:before{
    width: 65px;
    height: 60px;
    top: 0;
  }
  .service1 .ico-c4:before{
    width: 88px;
    height: 53px;
    left: -20px;
  }
  .vagon:after{
    background-size: contain;
    width: 504px;
    height: 364px;
  }
  .buy-sale{
    margin-top: 30px;
  }


  .about{
    height: auto;
  }
  .about .check{
    font-size: 16px;
    padding-left: 70px;
  }
  .about .check:before{
    background-size: contain;
    width: 35px;
    height: 35px;
  }

  .map {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  #map_container{
    position: relative;
    height: 350px;
  }
  .map .container{
    position: relative;
    margin-bottom: 40px;
  }
  .map .form{
    margin-top: 0;
  }

  .footer{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
  }
  .developer{
    font-size: 13px;
  }
  .footlogo{
    width: 130px;
    background-size: contain;
  }

}

@media (min-width: 1280px) and (max-width: 1460px){
  h2.head{
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .map .form .tel{
    font-size: 33px;
  }
  .d1, .d2, .d3, .d4{
    max-width: 100%;
  }
  .red-bg .text {
    font-size: 16px;
  }
}