/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

@font-face {
  font-family: 'Gilroy-Bold';
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy-Extrabold';
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy-Regular';
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy-Semibold';
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy-Black';
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }
html,
body {
  margin: 0;
  height: 100%;
  font-weight: 400;
  font-family: "Gilroy-Regular";
  color: #2B2B2B;
  background: #EDEDED; }

* {
  box-sizing: border-box; }

a {
  color: #2B2B2B;
  text-decoration: none; }

h1,
h2 {
  font-weight: 700;
  line-height: 56px; }
  h1 span,
  h2 span {
    display: block; }

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1140px;
  width: 100%; }

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  margin: 0 auto;
  position: relative; }

.col-1 {
  grid-column: span 1; }

.col-2 {
  grid-column: span 2; }

.col-3 {
  grid-column: span 3; }

.col-4 {
  grid-column: span 4; }

.col-5 {
  grid-column: span 5; }

.col-6 {
  grid-column: span 6; }

.col-7 {
  grid-column: span 7; }

.col-8 {
  grid-column: span 8; }

.col-9 {
  grid-column: span 9; }

.col-10 {
  grid-column: span 10; }

.col-11 {
  grid-column: span 11; }

.col-12 {
  grid-column: span 12; }

.col-to-end {
  grid-column-end: -1 !important; }

.col-start-2 {
  grid-column-start: 2; }

.span-10-c {
  grid-column: -2 / 2; }
  .span-10-c .container {
    padding: 0; }

.row-2 {
  grid-row: 1 / span 2; }

.row-2-2 {
  grid-row: 2 / span 1; }

.row-1-2 {
  grid-row: 1 / span 1; }

.mobile {
  display: none; }

.desktop {
  display: inherit; }

.hidden_params {
  display: none; }

.flex {
  display: flex; }

@media (min-width: 1025px) and (max-width: 1180px) {
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1180px;
    padding: 0 20px;
    grid-gap: 10px;
    margin: 0 auto;
    position: relative; }

  .l-col-1 {
    grid-column: span 1; }

  .l-col-2 {
    grid-column: span 2; }

  .l-col-3 {
    grid-column: span 3; }

  .l-col-4 {
    grid-column: span 4; }

  .l-col-5 {
    grid-column: span 5; }

  .l-col-6 {
    grid-column: span 6; }

  .l-col-7 {
    grid-column: span 7; }

  .l-col-8 {
    grid-column: span 8; }

  .l-col-9 {
    grid-column: span 9; }

  .l-col-10 {
    grid-column: span 10; }

  .l-col-11 {
    grid-column: span 11; }

  .l-col-12 {
    grid-column: span 12; }

  .l-col-del {
    display: none; } }
/*media 1025-1180*/
@media (min-width: 769px) and (max-width: 1279px) {
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1024px;
    padding: 0 15px;
    grid-gap: 10px;
    margin: 0 auto;
    position: relative; }

  .m-col-1 {
    grid-column: span 1; }

  .m-col-2 {
    grid-column: span 2; }

  .m-col-3 {
    grid-column: span 3; }

  .m-col-4 {
    grid-column: span 4; }

  .m-col-5 {
    grid-column: span 5; }

  .m-col-6 {
    grid-column: span 6; }

  .m-col-7 {
    grid-column: span 7; }

  .m-col-8 {
    grid-column: span 8; }

  .m-col-9 {
    grid-column: span 9; }

  .m-col-10 {
    grid-column: span 10; }

  .m-col-11 {
    grid-column: span 11; }

  .m-col-12 {
    grid-column: span 12; }

  .m-col-del {
    display: none; } }
/*media 769-1024*/
@media (min-width: 481px) and (max-width: 768px) {
  .mobile {
    display: inherit; }

  .desktop {
    display: none; }

  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1120px;
    grid-gap: 10px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative; }

  .s-col-1 {
    grid-column: span 1; }

  .s-col-2 {
    grid-column: span 2; }

  .s-col-3 {
    grid-column: span 3; }

  .s-col-4 {
    grid-column: span 4; }

  .s-col-5 {
    grid-column: span 5; }

  .s-col-6 {
    grid-column: span 6; }

  .s-col-7 {
    grid-column: span 7; }

  .s-col-8 {
    grid-column: span 8; }

  .s-col-9 {
    grid-column: span 9; }

  .s-col-10 {
    grid-column: span 10; }

  .s-col-11 {
    grid-column: span 11; }

  .s-col-12 {
    grid-column: span 12; }

  .s-col-del {
    display: none; } }
/*media 481-768*/
@media (max-width: 480px) {
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1120px;
    grid-gap: 10px;
    margin: 0 auto;
    position: relative; }

  .xs-col-1 {
    grid-column: span 1; }

  .xs-col-2 {
    grid-column: span 2; }

  .xs-col-3 {
    grid-column: span 3; }

  .xs-col-4 {
    grid-column: span 4; }

  .xs-col-5 {
    grid-column: span 5; }

  .xs-col-6 {
    grid-column: span 6; }

  .xs-col-7 {
    grid-column: span 7; }

  .xs-col-8 {
    grid-column: span 8; }

  .xs-col-9 {
    grid-column: span 9; }

  .xs-col-10 {
    grid-column: span 10; }

  .xs-col-11 {
    grid-column: span 11; }

  .xs-col-12 {
    grid-column: span 12; }

  .xs-col-del {
    display: none; }

  .mobile {
    display: inherit; }

  .desktop {
    display: none; } }
/*media max 480*/
a:focus, a:active {
  outline: none; }

.d_f {
  display: flex; }

.f_c {
  flex-direction: column; }

.ta-c {
  text-align: center; }

.ta-r {
  text-align: right; }

.w_100 {
  width: 100%; }

.h_100 {
  height: 100%; }

.h_75 {
  height: 75%; }

.h_50 {
  height: 50%; }

.h_25 {
  height: 25%; }

.h_100vh {
  min-height: 100vh;
  height: 100%; }

.w_200 {
  width: 200%; }

.pos_r {
  position: relative; }

.to_ct {
  transform-origin: center top; }

.bgs_con, .bgs_cov {
  background-position: 50%;
  background-repeat: no-repeat; }

.bgs_con {
  background-size: contain; }

.bgs_cov {
  background-size: cover; }

.sc_105 {
  transform: scale(1.05); }

.to_rb {
  transform-origin: right bottom; }

.pos_a, .pos_f {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  position: absolute; }

.c_w {
  color: #fff !important; }

.ai_c {
  align-items: center; }

.ai_s {
  align-items: flex-start; }

.ai_e {
  align-items: flex-end; }

.ai_base {
  align-items: baseline; }

.jc_c {
  justify-content: center; }

.jc_sb {
  justify-content: space-between; }

.jc_end {
  justify-content: flex-end; }

.ml_a {
  margin-left: auto; }

.left-col, .middle-col, .right-col, .full-col {
  height: 100vh;
  margin: 0; }

.width-0 {
  width: 0; }

.width-18 {
  width: 18%; }

.width-28 {
  width: 28%; }

.width-33 {
  width: 33.33%; }

.width-38 {
  width: 38%; }

.width-66 {
  width: 66.66%; }

.width-40 {
  width: 40%; }

.width-45 {
  width: 45%; }

.width-47 {
  width: 47%; }

.width-50 {
  width: 50%; }

.width-53 {
  width: 53%; }

.width-55 {
  width: 55%; }

.width-60 {
  width: 60%; }

.width-62 {
  width: 62%; }

.width-100 {
  width: 100%; }

.oh-wrap {
  overflow: hidden; }

.j_parlxContent {
  padding-left: 30px; }

.pl30 {
  padding-left: 30px; }

.pl80 {
  padding-left: 80px; }

.pl90 {
  padding-left: 90px; }

.pl170 {
  padding-left: 170px; }

.pl_250 {
  padding-left: 250px; }

.pt30 {
  padding-top: 30px; }

.pt5vmax {
  padding-top: 5vmax; }

.pb5vmax {
  padding-bottom: 5vmax; }

.pt45p {
  padding-top: 45%; }

.hidden {
  visibility: hidden; }

.btn-w a:first-child {
  margin-right: 25px; }

.btn {
  padding: 15px 30px;
  display: inline-flex;
  color: #fff;
  background: #A80010;
  align-items: center;
  justify-content: center;
  border: 2px solid #A80010;
  font-size: 15px;
  font-family: "Gilroy-Semibold";
  position: relative;
  transition: 1s color;
  white-space: nowrap;
  border-radius: 90px; }
  .btn > * {
    position: relative; }
  .btn:before {
    display: block;
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    height: 76px;
    background-position: 0% 0%;
    transition: 1s all; }
  .btn:hover, .btn.active {
    transition: 1s color; }
    .btn:hover:before, .btn.active:before {
      top: -19px;
      transition: 1s all;
      background-position: 100% 0%; }
  .btn.active:hover {
    /*transition: 1s all;
    opacity: 0.8;*/
    color: #E24B33; }
    .btn.active:hover:before {
      top: 76px;
      transition: 1s all;
      background-position: 0% 0%; }
  .btn.btn-disabled {
    color: #454545;
    border: 2px solid #a7a7a7;
    cursor: default; }
    .btn.btn-disabled:hover:before {
      display: none; }
  .btn.btn-fill {
    background: #E24B33;
    transition: .3s background-color;
    color: #fff; }
    .btn.btn-fill:hover {
      background: rgba(226, 75, 51, 0.8);
      transition: 0.3s background-color; }
      .btn.btn-fill:hover:before {
        display: none; }
  .btn.btn-green {
    background: #649B50;
    border-color: #649B50;
    color: #FFFFFF; }
    .btn.btn-green .ico {
      width: 24px;
      height: 24px;
      background-size: contain; }
    .btn.btn-green:hover {
      background: rgba(100, 155, 80, 0.8);
      transition: 0.3s background-color; }
      .btn.btn-green:hover:before {
        display: none; }

input[type=submit].btn {
  border: 1px solid #fff;
  height: 70px;
  margin-top: 10px;
  width: 100%; }

@keyframes btnBg {
  0% {
    background-position-x: 0; }
  100% {
    background-position-x: 100%; } }
sup {
  font-size: 50%;
  line-height: 0;
  vertical-align: super; }

.flex_ac {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center; }

.flex_jsb {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.fancybox-content.popup {
  background: transparent;
  padding: 0;
  max-width: 640px;
  color: #fff; }
  .fancybox-content.popup h2 {
    color: #fff;
    font-size: 2.5vmax;
    font-weight: 800;
    margin-bottom: 25px;
    padding-right: 50px; }
  .fancybox-content.popup .form {
    width: 100%;
    margin: 0; }

table {
  max-width: 600px; }
  table td {
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid #80687f;
    font-size: 12px; }

.wpcf7 .ajax-loader {
  display: none !important; }

.ico {
  display: inline-block; }

.ico-left {
  margin-right: 8px; }

.ico-wt {
  background: url("../img/ico-wt.svg") 0 0 no-repeat;
  width: 40px;
  height: 40px;
  background-size: contain; }

.ico-email {
  background: url("../img/mail.svg") 0 0 no-repeat;
  width: 32px;
  height: 32px; }

.ico-tel {
  background: url("../img/ico-tel.svg") 0 0 no-repeat;
  width: 31px;
  height: 31px; }

.ico-arr {
  width: 38px;
  height: 52px;
  background: url("../img/arr-red.svg") 0 0 no-repeat; }

.header {
  height: 100px;
  background: #fff; }

.logo {
  display: flex;
  align-items: center;
  width: 295px;
  height: 49px; }
  .logo .logo-slogan {
    margin-left: 25px;
    font-size: 14px;
    line-height: 1.4;
    font-family: "Gilroy-Semibold";
    text-transform: uppercase; }
  .logo span {
    display: block; }

.tt_tel {
  display: flex;
  flex-direction: column;
  padding-right: 30px; }

.tel_a {
  font-size: 22px;
  font-family: "Gilroy-Semibold";
  margin-bottom: 5px; }

.email_a {
  text-decoration: underline; }

.tt_form .btn {
  margin-left: 0; }

.slider {
  background: url("../img/img.png") center center no-repeat;
  background-size: cover;
  height: 658px;
  color: #fff;
  position: relative; }
  .slider h1 {
    font-size: 64px;
    font-family: "Gilroy-Black";
    line-height: 1.2; }
  .slider .slogan {
    font-family: "Gilroy-Bold";
    font-size: 24px;
    line-height: 1.2;
    margin-top: -130px; }
  .slider p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.5;
    padding-left: 25px;
    border-left: 2px solid #A80010; }
    .slider p span {
      display: block; }

.split {
  position: relative;
  overflow: hidden; }

.img img {
  max-width: 100%; }

.form {
  background: #A80010;
  color: #FFFFFF;
  padding: 45px 45px 70px;
  width: calc(100% + 30px);
  text-align: center;
  margin-top: 55px;
  margin-left: -30px;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%); }
  .form .head {
    font-size: 32px;
    font-family: "Gilroy-Black";
    margin-bottom: 30px; }
  .form .form-control {
    width: 100%;
    font-size: 16px;
    height: 57px;
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
    border: none;
    font-family: "Gilroy-Regular"; }

.confirm_text {
  font-size: 15px;
  line-height: 1.2;
  margin-top: 35px; }
  .confirm_text span {
    display: block; }

h2.head {
  font-size: 48px;
  line-height: 1.4;
  font-family: "Gilroy-Black";
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  align-items: center; }
  h2.head .ico-left {
    margin-right: 19px; }

.service1 {
  position: relative; }
  .service1 .img {
    margin-top: 20px; }
  .service1 .name {
    margin-top: 20px;
    font-size: 24px;
    font-family: "Gilroy-Semibold"; }
  .service1 .ico-c1:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 127px;
    height: 143px;
    background: url("../img/main-ico-1.svg") 0 0 no-repeat;
    background-size: contain; }
  .service1 .ico-c2:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 125px;
    height: 124px;
    background: url("../img/main-ico-2.svg") 0 0 no-repeat;
    background-size: contain; }
  .service1 .ico-c3:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 123px;
    height: 116px;
    background: url("../img/main-ico-3.svg") 0 0 no-repeat;
    background-size: contain; }
  .service1 .ico-c4:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 126px;
    height: 114px;
    background: url("../img/main-ico-4.svg") 0 0 no-repeat;
    background-size: contain; }
  .service1 .icos {
    font-size: 18px;
    line-height: 1.4;
    margin-top: 20px;
    position: relative;
    padding-top: 145px;
    text-align: center; }
    .service1 .icos span {
      display: block; }
  .service1.s1-1 {
    padding-bottom: 50px; }
    .service1.s1-1:before {
      content: '';
      display: block;
      position: absolute;
      left: -50px;
      width: 449px;
      height: 767px;
      background: url("../img/bg_deks.svg") 0 0 no-repeat;
      bottom: -430px; }
  .service1.s1-2 {
    padding-top: 100px;
    padding-bottom: 150px;
    background: #fff;
    transition: .3s all;
    clip-path: polygon(0 18%, 68% 0, 100% 14%, 100% 79%, 31% 97%, 0 81%); }

strong {
  font-family: "Gilroy-Bold"; }

.buy-sale {
  margin-top: -150px; }

.red-bg {
  background: url("../img/red-bg.jpg") 0 0 repeat;
  padding-top: 100px;
  padding-bottom: 105px;
  color: #fff; }
  .red-bg .ico-arr {
    background: url("../img/arr-white.svg") 0 0 no-repeat; }
  .red-bg img {
    margin-bottom: 40px; }
  .red-bg .text {
    font-size: 18px;
    line-height: 1.5; }

.d1, .d2, .d3, .d4 {
  background: #fff;
  color: #2B2B2B;
  padding: 30px; }

.about {
  background: #fff; }
  .about .check {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 55px;
    padding-left: 20px;
    position: relative; }
    .about .check:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 0;
      top: 5px;
      background: #A80010; }

.triangle_layer {
  background: #fff;
  height: 140px;
  clip-path: polygon(0 0, 100% 0, 30% 100%);
  margin-bottom: -140px;
  position: relative;
  z-index: 101;
  pointer-events: none; }

.cons_data {
  margin-left: 30px;
  margin-right: 60px; }

.cons_data_name {
  font-family: "Gilroy-Extrabold";
  font-size: 24px;
  margin-bottom: 10px; }

.cons_data_title {
  font-size: 16px; }

#map_container {
  height: 726px;
  width: 100%;
  z-index: 100; }

.map {
  position: relative;
  height: 726px; }
  .map .pos_a {
    z-index: 102;
    left: 50%;
    transform: translateX(-50%); }
  .map .form {
    margin-top: 0;
    padding-top: 70px;
    padding-bottom: 40px;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%); }
  .map .container {
    pointer-events: none; }
  .map .form {
    pointer-events: all;
    color: #fff; }
    .map .form a {
      color: inherit; }
    .map .form .tel {
      font-size: 32px;
      font-family: "Gilroy-Black";
      margin-bottom: 20px;
      display: inline-block;
      text-align: center; }
    .map .form .address {
      font-size: 17px;
      font-family: "Gilroy-Regular";
      margin-bottom: 25px; }
    .map .form .text {
      font-family: "Gilroy-Bold";
      font-size: 18px;
      margin-bottom: 15px; }

.mobile {
  display: none; }

.wpcf7-response-output {
  display: none !important; }

.alert {
  position: fixed;
  box-sizing: border-box;
  width: 300px;
  right: 20px;
  top: 41px;
  color: #fff;
  padding: 20px 30px;
  z-index: 999999;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  text-align: center; }
  .alert.default {
    background: #2C2C2C;
    color: #fff; }
  .alert.success {
    background: #2ecc71; }
  .alert.error {
    background: #A80010; }
  .alert a {
    color: #fff;
    display: inline-block;
    margin-top: 10px; }
  .alert .closebtn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 16px;
    height: 16px;
    background: url("../img/ico-close-w-16-16.svg") 0 0 no-repeat; }
    .alert .closebtn:hover {
      transform: rotate(180deg);
      transition: 0.3s all; }

footer {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2; }
  footer .head {
    margin-bottom: 40px; }

.footlogo {
  background: url("../img/footlogo.svg") 0 0 no-repeat;
  width: 170px;
  height: 53px; }

.developer {
  font-size: 15px; }

.foot_address {
  margin-left: 20px;
  font-size: 17px; }
  .foot_address span {
    display: block; }

.foot_tel {
  font-size: 22px;
  font-family: "Gilroy-Semibold";
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-direction: column; }

@media (max-width: 768px) {
  .mobile {
    display: inherit; }

  .desktop {
    display: none; }

  .container {
    padding: 0 20px; }

  .header {
    height: 70px; }

  .slider {
    min-height: auto;
    max-height: none; }

  .logo {
    width: 175px; }
    .logo svg {
      max-width: 100%; }
    .logo .logo-slogan {
      font-size: 9px;
      margin-left: 15px; }

  .tt_wt,
  .tt_mail,
  .tt_tel {
    font-size: 0; }

  .tt_mail,
  .tt_form {
    display: none; }

  .slider {
    height: auto;
    background-position: center top;
    background-size: auto 576px; }
    .slider .col-8 {
      height: 500px; }
    .slider .slogan {
      margin-top: -170px;
      font-size: 16px; }

  .slider h1 {
    font-size: 42px; }

  .slider .btn {
    margin-top: 20px;
    width: 200px;
    padding-left: 0;
    padding-right: 0; }

  .slider p {
    font-size: 16px;
    padding-left: 15px; }

  .service1.s1-2 {
    transition: 0.3s all;
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    padding-bottom: 60px;
    padding-top: 50px; }

  .form {
    width: 100%;
    margin-left: 0;
    margin-top: -195px;
    padding: 50px 20px 20px;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%); }

  .red-bg {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px; }

  .red-bg img {
    max-width: 100px;
    height: auto;
    margin-bottom: 20px; }

  .red-bg .text {
    font-size: 16px; }
    .red-bg .text span {
      display: block; }

  .d1, .d2, .d3, .d4 {
    width: 100%;
    max-width: 360px;
    padding: 20px;
    margin: 0 auto;
    height: 232px; }

  h2.head {
    font-size: 24px;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px; }

  .span-10-c {
    grid-column: -1 / 1; }

  .service1 .name {
    font-size: 20px; }

  .service1 .icos {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    margin-top: 30px; }

  .service1 .ico-c1:before {
    width: 76px;
    height: 89px;
    left: 0;
    top: 0;
    transform: translateX(0); }

  .service1 .ico-c2:before {
    width: 76px;
    height: 89px;
    left: 0;
    top: 0;
    transform: translateX(0); }

  .service1 .ico-c3:before {
    width: 76px;
    height: 89px;
    left: 0;
    top: 0;
    transform: translateX(0); }

  .service1 .ico-c4:before {
    width: 76px;
    height: 89px;
    left: 0;
    top: 0;
    transform: translateX(0); }

  .vagon:after {
    background-size: contain;
    width: 504px;
    height: 364px; }

  .buy-sale {
    margin-top: -50px; }

  .form .head {
    font-size: 24px; }

  .about {
    height: auto;
    padding-bottom: 44px; }

  .about .check {
    font-size: 16px;
    line-height: 1.4;
    padding-left: 35px;
    margin-bottom: 35px; }

  .about .check:before {
    background-size: contain;
    width: 10px;
    height: 10px;
    left: 10px; }

  .cons {
    margin-top: 20px; }

  .cons_photo img {
    width: 83px;
    height: 83px; }

  .cons_data {
    margin-left: 20px;
    margin-right: 0; }

  .cons_btn {
    margin: 10px 0 0 20px; }

  .cons_data_name {
    font-size: 18px;
    margin-bottom: 10px; }

  .cons_data_title {
    font-size: 14px; }

  .cons_r_w {
    flex-direction: column; }
    .cons_r_w .btn {
      padding: 8px 22px; }

  .map {
    display: flex;
    flex-direction: column;
    height: auto; }

  .triangle_layer {
    display: none; }

  #map_container {
    position: relative;
    height: 350px; }

  .map .container {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 30px;
    margin-top: 0;
    background: #fff; }

  .map .form {
    margin-top: -70px; }

  .map .form .tel {
    font-size: 20px; }
    .map .form .tel .ico-tel {
      width: 21px;
      height: 22px;
      background-size: contain; }

  .map .form .address {
    font-size: 16px; }

  .map .form .text {
    font-size: 15px; }

  .form .form-control {
    height: 44px;
    font-size: 15px;
    padding: 0 15px;
    margin-bottom: 10px; }

  input[type=submit].btn {
    height: 54px; }

  .confirm_text {
    font-size: 13px;
    margin-top: 15px; }

  .confirm_text span {
    display: inline; }

  .service1.s1-1 {
    margin-top: 25px; }

  .service1.s1-1:before {
    display: none; }

  h2.head {
    margin-right: auto;
    margin-left: auto; }

  .service1 .icos {
    padding: 0 0 0 100px; }

  .ico-arr {
    width: 24px;
    height: 33px;
    background-size: contain; }

  .red-bg .ico-arr {
    background-size: contain; }

  .footer {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 14px; }
    .footer .ta-r {
      text-align: left; }
    .footer .col-3 {
      margin-bottom: 15px; }
    .footer .logo {
      width: 235px;
      margin: 0 auto; }
      .footer .logo .logo-slogan {
        font-size: 12px; }
    .footer .jc_sb {
      justify-content: center; }
      .footer .jc_sb a {
        margin: 0 10px; }

  footer .head {
    margin-bottom: 10px; }

  .developer {
    font-size: 13px; }

  .foot_address {
    margin-left: 0;
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px; }

  .foot_tel {
    font-size: 22px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin-bottom: 20px; }

  .foot-btns {
    justify-content: center; } }
@media (min-width: 1280px) and (max-width: 1460px) {
  h2.head {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px; }

  .map .form .tel {
    font-size: 33px; }

  .d1, .d2, .d3, .d4 {
    max-width: 100%; }

  .red-bg .text {
    font-size: 16px; } }
@media (min-width: 769px) and (max-width: 1279px) {
  .mobile {
    display: none; }

  .desktop {
    display: inherit; }

  .logo {
    width: 236px; }
    .logo svg {
      max-width: 100%; }

  .logo .logo-slogan {
    font-size: 12px;
    margin-left: 15px; }

  .tt_form .btn {
    padding: 10px 22px; }

  .tt_form {
    justify-content: flex-end; }
    .tt_form .btn {
      margin-left: 0; }

  .slider .form {
    margin-left: 0;
    width: 100%;
    padding: 20px 20px 50px; }

  .slider h1 {
    font-size: 50px; }

  .slider .btn {
    margin-top: 20px;
    width: 200px;
    padding-left: 0;
    padding-right: 0; }

  .slider p {
    font-size: 16px;
    padding-left: 15px; }

  .slider {
    min-height: 420px;
    max-height: 480px; }

  .slider .slogan {
    margin-top: -60px; }

  .form .form-control {
    height: 45px;
    padding: 8px 10px;
    margin-bottom: 10px; }

  .form .head {
    font-size: 29px; }

  input[type=submit].btn {
    height: 50px; }

  .confirm_text {
    font-size: 14px;
    margin-top: 25px; }

  .service1.s1-2 {
    transition: 0.3s all;
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    padding-bottom: 60px;
    padding-top: 30px; }

  .red-bg {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px; }

  .red-bg img {
    max-width: 100px;
    height: auto;
    margin-bottom: 20px; }

  .red-bg .text {
    font-size: 14px;
    line-height: 1.2; }

  .d1, .d2, .d3, .d4 {
    max-width: 100%;
    margin: 0;
    height: 224px;
    padding: 15px; }

  h2.head {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px; }

  .span-10-c {
    grid-column: -1 / 1; }

  .span-10-c {
    grid-column: -1 / 1; }

  .service1 .name {
    font-size: 20px; }

  .service1 .icos {
    font-size: 16px;
    padding-left: 0;
    padding-top: 115px;
    padding-right: 20px;
    text-align: left;
    margin-top: 30px; }

  .service1 .ico-c1:before {
    width: 96px;
    height: 93px;
    left: 0;
    top: 0;
    transform: translateX(0); }

  .service1 .ico-c2:before {
    width: 96px;
    height: 93px;
    left: 0;
    top: 0;
    transform: translateX(0); }

  .service1 .ico-c3:before {
    width: 96px;
    height: 93px;
    left: 0;
    top: 0;
    transform: translateX(0); }

  .service1 .ico-c4:before {
    width: 96px;
    height: 93px;
    left: 0;
    top: 0;
    transform: translateX(0); }

  .vagon:after {
    background-size: contain;
    width: 504px;
    height: 364px; }

  .buy-sale {
    margin-top: -50px; }

  .about {
    height: auto;
    padding-bottom: 40px; }

  .about .check {
    font-size: 16px;
    padding-left: 40px;
    padding-right: 20px; }

  .about .check:before {
    background-size: contain;
    width: 15px;
    height: 15px; }

  /*  .map {
      display: flex;
      flex-direction: column;
      height: auto;
    }*/
  .triangle_layer {
    clip-path: polygon(0 0, 100% 0, 30% 100%);
    height: 40px; }

  .map {
    height: 546px; }
    .map .form {
      margin-top: -30px;
      padding-left: 25px;
      padding-right: 25px; }

  #map_container {
    height: 546px; }

  /*  #map_container{
      position: relative;
      height: 350px;
    }
    .map .container{
      position: relative;
      margin-bottom: 0;
      padding-bottom: 30px;
      margin-top: 0;
      background: #fff;
    }
    .map .form{
      margin-top: -70px;
    }*/
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px; }
    .footer .logo .logo-slogan {
      display: none; }

  .foot_tel {
    font-size: 19px;
    margin-left: 0;
    margin-right: 0; }

  .foot_address span {
    display: inline; }

  .developer {
    font-size: 13px; }

  .footlogo {
    width: 130px;
    background-size: contain; } }

/*# sourceMappingURL=main.css.map */
